<form class="form-inline" action="/login" method="POST">
  <div class="form-group mb-2">
    <label for="email">Enter your email</label>
    <input type="email" name="email" />
    <label for="email">password</label>
    <input type="password" name="password" />
    <input type="submit">
  </div>
</form>